.speaker {}
.speaker .title{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
}
.speaker .tip{
    font-size: 16px;
    color: #898989;
    text-align: center;
    margin-bottom: 20px;
}

.speaker ul.photos{
    text-align: center;
    padding-left: 0;
}
.speaker ul.photos li{
    display: inline-block;
    margin: 15px;
}

.speaker ul.photos li a{
    display: inline-block;
    width: 120px;
    min-height: 120px;
}
.speaker ul.photos li a .avatar{
    border-radius: 50%;
}
.speaker ul.photos li a .name{
    text-align: center;
    padding-top:10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

/**
表格 列表样式
 */
.speaker table td{
    vertical-align: middle!important;
}

.speaker table td .avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden
}


@media (max-width: 812px) {
    .speaker ul.photos li{
        margin: 10px;
    }
    .speaker ul.photos li a{
        width: 90px;
    }
    .speaker ul.photos li a .avatar{
        width: 100%;
        height: auto;
    }
}