@charset "UTF-8";
body {
    font-family: arial,"Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, 宋体, Tahoma, Arial, Helvetica, STHeiti,sans-serif;
    background-color: #F5F5F5;
}

img {
    max-width: 100%;
}
li {
    list-style: none;
}
p,div,span {
    word-break: break-all;
}
.icon {
    display:block;
}
a.btn.disabled, a.btn[disabled] {
    background-color: #929292;
    color: #fff;
}

a{text-decoration:none;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}

/**
自定义btn样式
 */
.signup-share {
     width: 80%;
     background-color: #3c8ee0;
     border: none;
 }


/**
nav导航样式
 */

.navbar-white {
    background-color: #ffffff;
    color: #444;
}

ul.nav li a, .navbar-header a.navbar-brand {
    height: 80px;
    line-height: 50px;
    min-width: 80px;
    text-align: center;
}
.navbar-header a.elastic-logo {
    background: url("/static/images/logo/elastic-logo-96x96.png") no-repeat top 50% left;
    background-size: auto 70%;
    padding:15px 5px;
    margin-left: 10px;
}

.navbar-header a.elastic-logo span {
    display: inline-block;
    padding-left:60px;
}

.media .media-avatar {
    display: inline-block;
}

.panel-block .media .media-avatar {
    width: 60px!important;
    height: 60px!important;
}.panel-block .media .media-body {
    padding-left: 0!important;
}

.panel-block>h4{
    margin-bottom:15px;
    font-size: 16px;
    font-weight: 600;
}
.hor-tab{
     border-bottom: 1px solid #ddd;
     padding-bottom: 5px;
     margin-bottom: 20px;
 }
.hor-tab a{
    float: right;
    font-size: 14px;
    color: #898989;
    margin-top:8px;
    font-weight: normal;
}
h4.hor-tab{
    margin-bottom: 15px;
}
h4.hor-tab a{
    margin-top:3px;
}

.home .thumbnail, .panel-block .thumbnail{
    padding:0;
    border-radius: unset;
}
.home .thumbnail .caption h4 , .panel-block .thumbnail .caption h4 {
    font-size: 16px;
    margin-top:5px;
}
.home .thumbnail .caption h4 a, .panel-block .thumbnail .caption h4 a{
    line-height: 20px;
    display: -webkit-box;
    overflow: hidden;
    height: 40px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.thumbnail .caption .single-line {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.thumbnail .caption .event-state {
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
}
.thumbnail a img {
    width:100%;
}
.thumbnail .caption .event-state span.label {
    font-size:85%;
}

.schedule-content strong {
    padding-right: 10px;
}

@media (max-width: 812px) {
    ul.nav li a, .navbar-header a.navbar-brand {
        height: 40px;
        line-height: 20px;
    }
    .navbar-header a.elastic-logo span {
        padding-left:40px;
    }
    .navbar-header a.elastic-logo {
        background: url("/static/images/logo/elastic-logo-96x96.png") no-repeat top 6px left;
        background-size: auto 90%;
    }
}

.bg-white {
    background-color: #ffffff;
}
.row.item {
    margin-bottom: 15px;
    background-color: #ffffff;
}
.panel-block{
    padding:15px;
    overflow:hidden;
    margin-bottom: 15px;
}
.carousel .carousel-inner .item img {
    width: 100%;
    overflow: hidden;
}
.ad{
    padding:0;
}
.ad img{
    width: 100%;
    transition: transform .65s;
}
.ad img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2); /*Safari 和 Chrome*/
    -moz-transform: scale(1.2); /*Firefox*/
    -ms-transform: scale(1.2); /*IE9*/
    -o-transform: scale(1.2); /*Opera*/
}

.icon-wechat {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/static/images/icon/wechat.png) no-repeat;
    background-size: 100%;
    margin-bottom: -3px;
}

/**
底部样式
 */
.footer {
    clear: both;
    margin-top:15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    color: #767676;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background-color:#f8f8f8;
}

/* 网页div弹出层 begin */

#layer {
    display: none;
}
.layer {
    top: 150px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    -webkit-background-clip: content;
    -webkit-overflow-scrolling: touch;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);

    border-radius: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .3s;
}
.layer, .layer-shade {
    position: fixed;
    _position: absolute;
    pointer-events: auto;
}


#layer-shade,#layer-elastic-cn {
    display: none;
}
.layer-shade {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.layer-shade.opacity {
    background-color: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.show-qrcode {
    height: 280px;
    background-color: #fff;
    box-shadow: none;
    color: #5A5A5A;
    z-index: 10000;
    width: 240px;
    top: 50%;
    left: 50%;
    margin-left:-120px;
    margin-top:-140px;
}

.show-qrcode .layer-content {
    padding: 20px;
    text-align: center;
}

.show-qrcode .layer-content.no-padding{
    padding: 10px;
}

.layer-content .qrcode {
    width: 200px;
    min-height: 240px;
}

.layer-content.no-padding .qrcode {
    width: 220px;
    min-height: 240px;
}

.layer-content .qrcode img{
    width: 100%;
}

.layer-content .qrcode .des {
    text-align: center;
    color: #5A5A5A;
    margin-top: 4px;
}

.layer-content {
    position: relative;
    overflow: auto;
}

/* 网页div弹出层 end */

/* 动画 */
.layer-anim {
    -webkit-animation-name: bounceIn;animation-name: bounceIn;
}
@-webkit-keyframes bounceIn { /* 默认 */
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes bounceOut {
    100% {
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }
    30% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes bounceOut {
    100% {
        opacity: 0;
        -webkit-transform: scale(.7);
        -ms-transform: scale(.7);
        transform: scale(.7)
    }
    30% {
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03)
    }
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

/* 网页右边小工具栏 begin */

.right-tool {
    position: fixed;
    right: 5px;
    bottom: 40px;
    z-index: 99;
}

.right-tool li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 1px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-radius: 2px;
    display: list-item;
}

.right-tool li.share-qrcode .text {
    line-height: 18px;
    padding-top: 7px;
    display: none;
}

.right-tool li.share-qrcode .img {
    width: 70%;
}

.right-tool li.go-top {
    display: none;
    font-size: 24px;
}

@media (max-width: 767px) {
    .right-tool {
        right: 5px;
    }
    .right-tool .share-qrcode {
        display: none;
    }
    .right-tool li {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .right-tool li.go-top span{
        color: #fff;
        font-size: 18px;
    }
}

/* 网页右边小工具栏 end */