body {
    color: #4e4e4e;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

#navbar ul li a.a-btn {
    padding:5px 0;margin-top: 9px;margin-left: 10px;font-size:14px;color: #ffffff;width: 80px;
}

#navbar ul li a.a-partner:link {background-color: #337ab7;}
#navbar ul li a.a-speaker:link {background-color: #5cb85c;}

a.elastic-logo {
    background: url(/static/images/logo/elastic-logo-96x96.png) no-repeat top left;
    background-size: auto 100%;
    padding: 15px 0;
    margin-left: 10px;
}

a.elastic-logo span {
    display: inline-block;
    font-weight: 400;
    padding-left: 60px;
}

.item-box {
    position: relative;
    box-shadow: 0 1px 3px #ddd;
    background-color: #ffffff;
    margin-bottom: 15px;
    min-width: 300px;
    min-height: 330px;
}

.item-header {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.item-content {
    position: relative;
    border: 1px solid #ddd;
    border-top-width: 0;
    height: 130px;
}
.item-content .title {
    font-size: 18px;
    line-height: 25px;
    position: relative;
    display: block;
    overflow: hidden;
    height: 60px;
    padding: 10px;
    color: #333;
}

.item-content .item-footer {
    position: relative;
    margin: 0 10px 10px 10px;
    height: 50px;
}

.item-content .item-footer .f-left {
    float: left;
}

.item-content .item-footer .f-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.item-content .item-footer .f-left .date {
    padding: 5px 0;
}

.item-content .item-footer .f-right a.btn {
    min-width: 80px;
}

.item-content .item-footer .f-right a.btn.disabled {
    background-color: #a6a6a6;
}
.item-content .item-footer .date,.item-content .item-footer .addr {
    color: #333;
    font-size: 13px;
    overflow: hidden;
}

.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #767676;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background-color:#f8f8f8;
}


